%h2 Check For Rooms Availability
= form_for @search, :url => 'search' , :html => { :class => "well form-horizontal" } do |f|
  - if @search.errors.any?
    %h2 Search cannot be perform due to following errors
    - @search.errors.messages.each do |attr, message|
      .error
        %span.label.label-important
          - if attr.to_s != "base"
            = attr.to_s + " " + message.first.to_s
          - else
            = message.first.to_s
        %br
  %fieldset
    .control-group
      = f.label :start_date , :class => "control-label"
      .controls
        = f.text_field :start_date
  %fieldset
    .control-group
      = f.label :end_date , :class => "control-label"
      .controls
        = f.text_field :end_date
  %fieldset
    .control-group
      = f.label :number_of_guests , :class => "control-label"
      .controls
        = f.select :number_of_guests, 1..10
  .form-actions 
    = f.submit "Search", :class => "btn btn-primary"

%script
  $(function() {
  var dates = $( "#search_end_date, #search_start_date" ).datepicker({
  dateFormat: "dd-mm-yy",
  defaultDate: "+1w",
  changeMonth: true,
  numberOfMonths: 1,
  onSelect: function( selectedDate ) {
  var option = this.id == "search_start_date" ? "minDate" : "maxDate",
  instance = $( this ).data( "datepicker" ),
  date = $.datepicker.parseDate(
  instance.settings.dateFormat ||
  $.datepicker._defaults.dateFormat,
  selectedDate, instance.settings );
  dates.not( this ).datepicker( "option", option, date );
  }
  });
  });
