!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
  %title
    - if content_for?(:title)
      = yield(:title)
    - else
      Blog
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    .container
      = render "shared/header"
      - flash.each do |key, value|
        .alert.alert-info
          %a{ :class => "close", "data-dismiss" => "alert"} ×
          = value
      .row
        .span16
          = yield

